* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 1em;
    padding: 0em;
    font-size: 16px;
    color: rgb(0,0,0);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.spacer {
    padding: 0 2em;
}

button {
    padding: 1em;
    text-align: center;
    border-radius: 15px;
}
button:hover {
    cursor: pointer;
}

.row {
    display: flex;
}
/*.row::after {
    content: "";
    clear: both;
    display: table;   
}*/

.big_blue {
    font-weight: bold;
    font-size: 110%;
    background-color: rgb(47, 84, 154);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

#output {
   background-color: rgb(240,240,240);
   padding: 1em 0.5em;    
}

input[type="submit"], input[type="reset"] {
    padding: 1em 1.5em;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(0, 160, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-top: 50px;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    cursor: pointer;
}