* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 1em;
    padding: 0em;
    font-size: 16px;
    color: rgb(0,0,0);
}

a {
    text-decoration: none;
    cursor: pointer;
}

.spacer {
    padding: 0 2em;
}

button {
    padding: 1em;
    text-align: center;
    border-radius: 15px;
}
button:hover {
    cursor: pointer;
}

.row {
    display: flex;
}
/*.row::after {
    content: "";
    clear: both;
    display: table;   
}*/

.big_blue {
    font-weight: bold;
    font-size: 110%;
    background-color: rgb(47, 84, 154);
    color: rgb(255, 255, 255);
    border-radius: 20px;
}

.big_red {
    font-weight: bold;
    font-size: 100%;
    background-color: rgb(240, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;  
}

input[type="submit"], input[type="reset"] {
    padding: 1em 1.5em;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(0, 160, 0);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-top: 50px;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    cursor: pointer;
}

#output {
   background-color: rgb(240,240,240);
   padding: 1em 0.5em;    
}

#sign-in-para {
   display: none;
}

#other_colour {
    color: rgb(240, 0, 0);
}

.popUp {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.results {
    position: fixed;
    width: 40%;
    /*height: 40%;*/
    left: 30%;
    top: 25%;
    
    background-color: rgb(217, 237, 247);
    border: 2px solid rgb(230, 0, 0);
    border-radius: 20px;
    color: rgb(220, 0, 0);
    font-weight: bold;
    padding: 1em;    
}
.results button {
    font-weight: bold;
    background-color: rgb(217, 83, 79);
    color: rgb(255, 255, 255);
    margin-bottom: 1.5em;
    /* background-color: rgb(220, 0, 0);
    color: rgb(217, 237, 247); */
}

#popoutput {
    clear: both;
}
